<li><a href="{{app.url}}/import"><i class="fa fa-arrow-right"></i> <span>Import</span></a></li>
<li><a href="{{app.url}}/content"><i class="fa fa-edit"></i> <span>Content</span></a></li>
<li><a href="{{app.url}}/files"><i class="fa fa-paperclip"></i> <span>Files</span></a></li>
<li><a href="{{app.url}}/collection"><i class="fa fa-barcode"></i> <span>Collections</span></a></li>
<li><a href="{{app.url}}/product"><i class="fa fa-barcode"></i> <span>Products</span></a></li>
<li><a href="{{app.url}}/category"><i class="fa fa-list"></i> <span>Categories</span></a></li>
<li><a href="{{app.url}}/customer"><i class="fa fa-user"></i> <span>Customers</span></a></li>
<li><a href="{{app.url}}/order"><i class="fa fa-inbox"></i> <span>Orders</span></a></li>
<li><a href="{{app.url}}/coupon"><i class="fa fa-ticket"></i> <span>Coupons</span></a></li>
<li><a href="{{app.url}}/registry"><i class="fa fa-gift"></i> <span>Registries</span></a></li>
<li><a href="{{app.url}}/shippingmethod"><i class="fa fa-truck"></i> <span>Shipping Methods</span></a></li>
<li><a href="{{app.url}}/product-review"><i class="fa fa-thumbs-up"></i> <span>Product Reviews</span></a></li>
<li><a href="{{app.url}}/contact"><i class="fa fa-user"></i> <span>Contact Emails</span></a></li>
<li><a href="{{app.url}}/email-list"><i class="fa fa-user"></i> <span>Email Subscribers</span></a></li>
<li><a href="{{app.url}}/task"><i class="fa fa-tasks"></i> <span>Tasks</span></a></li>
    <li><a href="javascript:;"><i class="fa fa-th"></i> <span>Fraud Management</span> </a>
        <ul class="acc-menu">
            <li><a href="{{app.url}}/addressblacklist"><span>Address Blacklist</span></a></li>
            <li><a href="{{app.url}}/addresswhitelist"><span>Address Whitelist</span></a></li>
            <li><a href="{{app.url}}/ipblacklist"><span>IP Blacklist</span></a></li>
            <li><a href="{{app.url}}/ipwhitelist"><span>IP Whitelist</span></a></li>
        </ul>
    </li>
