<div class="row">
    <div class="col-md-9 col-offset-3">
        <table class="table table-hover table-striped table-bordered">
            <tr><td>ID</td><td>Created By</td><td colspan="2">Date</td></tr>
            {% for id, snapshot in snapshots %}
            {# The last one should be skipped because it's incomplete #}
            <tr><td>{{ snapshot.id }}</td><td>{{ snapshot.author }}</td><td>{{ snapshot.date_created }}</td><td><a href="{{app.url}}/snapshot/{{snapshot.id}}">View</a></td></tr>
            {% endfor %}
        </table>
    </div>
</div>
