<div class="row">
    <div class="col-md-12">
        {{ form.text('coupon_code','', {'help':'Add a new coupon to this order'}) }}
        {% for coupon in coupons %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Coupon</label>
                    <div class="col-sm-9">
                        <div class="form-control" disabled="disabled">- ${{ coupon.discount }} ({{ coupon.code }})</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Subtotal</label>
                    <div class="col-sm-9">
                        <div class="form-control" disabled="disabled">$<span id="subtotal">{{ order.subtotal }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Shipping</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            {{ form.text('shipping_rate','',{'input_only':true, 'required':true}) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="shipping-recalculate"><i class="fa fa-repeat"></i> Recalculate</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tax</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            {{ form.text('tax','',{'input_only':true, 'required':true}) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="tax-recalculate"><i class="fa fa-repeat"></i> Recalculate</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Total</label>
                    <div class="col-sm-9">
                        <div class="form-control" disabled="disabled">$<span id="subtotal">{{ order.total }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{ form.submit('Save changes') }}
    </div>
</div>