Hello {{customer.first_name|title}},

A password reset was requested. To choose a new password please follow the link below:
<a href="{{app.url}}/account/reset-password?token={{reset_password_token}}">{{app.url}}/account/reset-password?token={{reset_password_token}}</a>
