{% extends "/_admin/_layouts/theme.html.twig" %}
{% import "/_admin/_macros/base.html.twig" as base %}

{% block title %}
Order Returns
{% endblock %}

{% block breadcrumb %}
    {{ base.breadcrumbs({'Order returns':'/return'}) }}
{% endblock %}

{% block content %}
    <h1>Order Returns</h1>
    {% set sort   = app.request.get.sort is defined ? app.request.get.sort : 'id:-1' %}
    {% set search = app.request.get.s is defined ? app.request.get.s : '' %}
    {% set query  = app.request.get.query is defined ? app.request.get.query : [] %}

    {% set columns         = ['id','status','rma','order_id','date_modified'] %}

    {# If the search contains special characters ':' or '=' assume the search is a query #}
    {% if '=' in search or ':' in search %}
        {% set query = search|replace({'=':':'}) %}
        {% set search = '' %}
    {% endif %}

    {% set returns = api.get('/orderreturn',{'sort':sort,'page':app.request.get.page,'query':query,'search':search,'attributes':columns,'limit':64}) %}

    <form method="get" class="input-group" onsubmit="document.location.href='{{app.request.getUrl({'page':1,'sort':(sort),'s':''})}}'+''+$('#search').val();return false;">
        <input type="search" id="searchlist" name="s" value="{{app.request.get.s|e}}" class="form-control" placeholder="Search" />
        <span class="input-group-btn"><button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button></span>
    </form>

    {{ base.pagination(returns.num_total) }}

    {{ list.create(columns, returns, '/return/{id}', 'sort', {'date_modified':'date'}) }}
{% endblock %}
