   <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6">
            <a class="info-tiles tiles-success" href="{{app.url}}/order">
                <div class="tiles-heading">Revenue</div>
                <div class="tiles-body-alt">
                    <i class="fa fa-inbox"></i>
                    {# set orders_shipped = api.get('/order', {query:{'status':'shipped'}}) #}
                    {% set sum = 0 %}
                    {% for order in orders_shipped %}
                        {% set sum = sum + order.total %}
                    {% endfor %}
                    <div class="text-center">{{ sum }}</div>
                    <small>dollars</small>
                </div>
                <div class="tiles-footer">since last week</div>
            </a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <a class="info-tiles tiles-alizarin" href="{{app.url}}/order">
                <div class="tiles-heading">Orders</div>
                <div class="tiles-body-alt">
                    <i class="fa fa-inbox"></i>
                    {% set orders_pending = api.get('/order', {query:{'status':'pending'}}) %}
                    <div class="text-center">{{ orders_pending.num_total }}</div>
                    <small>orders pending</small>
                </div>
                <div class="tiles-footer">manage orders</div>
            </a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <a class="info-tiles tiles-toyo" href="{{app.url}}/return">
                <div class="tiles-heading">Returns</div>
                <div class="tiles-body-alt">
                    <i class="fa fa-meh-o"></i>
                    {% set returns_pending = api.get('/orderreturn', {query:{'status':'pending'}}) %}
                    <div class="text-center">{{ returns_pending.num_total }}</div>
                    <small>returns pending</small>
                </div>
                <div class="tiles-footer">manage returns</div>
            </a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <a class="info-tiles tiles-orange" href="{{app.url}}/customer">
                <div class="tiles-heading">Customers</div>
                <div class="tiles-body-alt">
                    <i class="fa fa-user"></i>
                    {# FIXME: When we get admin users we should change this date to the date last logged in #}
                    {% set new_customers = api.get('/customer', {query:{'date_created':{'$gt':'-1 week'|date('Y/m/d H:i:s')}}}) %}
                    <div class="text-center">{{ new_customers.num_total }}</div>
                    <small>new customers</small>
                </div>
                <div class="tiles-footer">manage customers</div>
            </a>
        </div>
    </div>
